#–î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è –¥–æ —Ç–µ–º apply(), groupby(), pivot_table()

–í —Ü—å–æ–º—É –¥–æ–º–∞—à–Ω—å–æ–º—É –∑–∞–≤–¥–∞–Ω–Ω—ñ –ø—Ä–æ–¥–æ–≤–∂—É—î–º–æ –ø—Ä–∞—Ü—é–≤–∞—Ç–∏ –∑ –Ω–∞–±–æ—Ä–æ–º –¥–∞–Ω–∏—Ö `supermarket_sales.csv`.

0. –Ü–º–ø–æ—Ä—Ç—É–π—Ç–µ –±—ñ–±–ª—ñ–æ—Ç–µ–∫—É pandas —Ç–∞ –∑—á–∏—Ç–∞–π—Ç–µ –¥–∞–Ω—ñ —É –∑–º—ñ–Ω–Ω—É `df` —Ç–∏–ø—É `pandas.DataFrame`.

In [1]:
import pandas as pd
data_path = '../module_3/data/supermarket_sales.csv'
df = pd.read_csv(data_path)

1. –î–æ—Å–ª—ñ–¥–∏–º–æ, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É ('Branch') —î –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º. –î–ª—è —Ü—å–æ–≥–æ –∑–Ω–∞–π–¥—ñ—Ç—å —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑–∞ –∫–æ–∂–Ω–∏–º —Ñ—ñ–ª—ñ–∞–ª–æ–º —ñ –≤–∏—è–≤—ñ—Ç—å, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª –º–∞—î –Ω–∞–π–≤–∏—â–∏–π.

In [25]:
total_profit_by_branch = df.groupby("Branch")["gross income"].sum()
branch =total_profit_by_branch.sort_values(ascending=False).index[0]
print(total_profit_by_branch,  '\n''\n' "The most profitable branch is", branch )

Branch
A    5057.1605
B    5057.0320
C    5265.1765
Name: gross income, dtype: float64

The most profitable branch is C

2. –í —è–∫–æ–º—É –º—ñ—Å—Ç—ñ –∑–Ω–∞–π—Ö–æ–¥–∏—Ç—å—Å—è —Ñ—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º? –ú–æ–∂–µ –≤ —Ç–æ–º—É –º—ñ—Å—Ü—ñ –Ω–∞–º —Ä–æ–∑–º—ñ—Ç–∏—Å—Ç–∏ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω.  
–ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—å –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É Pandas.

In [26]:
total_profit_by_branch_city = df.groupby(by=["Branch", "City"])["gross income"].sum()
city = total_profit_by_branch_city.sort_values(ascending=False).index[0][1]
print("The most profitable branch", branch, 'is loacated in', city )

The most profitable branch C is loacated in Naypyitaw

3.1. –°—Ç–≤–æ—Ä—ñ—Ç—å –∑–≤–æ–¥–Ω—É —Ç–∞–±–ª–∏—Ü—é, —è–∫–∞ –ø–æ–∫–∞–∂–µ, —Å–∫—ñ–ª—å–∫–∏ –ø–æ–∫—É–ø–æ–∫ (—ñ–Ω–≤–æ–π—Å—ñ–≤) –±—É–ª–æ –∑—Ä–æ–±–ª–µ–Ω–æ –≤ –∫–æ–∂–Ω—ñ–π –∑ —Ñ—ñ–ª—ñ–π (`Branch`) –∑–∞ —Ä—ñ–∑–Ω–∏–º–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤. –ó–∞–ø–∏—à—ñ—Ç—å —Ç–∞–±–ª–∏—Ü—é –≤ –∑–º—ñ–Ω–Ω—É `invoices_by_category` —ñ –≤–∏–≤–µ–¥—ñ—Ç—å –∑–º—ñ–Ω–Ω—É –Ω–∞ –µ–∫—Ä–∞–Ω.
–¶—è —Ç–∞–±–ª–∏—Ü—è –¥–æ–ø–æ–º–æ–∂–µ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏, –≤ —è–∫—ñ–π —Ñ—ñ–ª—ñ—ó –∫—É–ø—É—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ —Ç–æ–≤–∞—Ä—ñ–≤ –∫–æ–∂–Ω–æ—ó –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π.

In [29]:
invoices_by_category = pd.pivot_table(df,index='Branch' , columns='Product line', values='Quantity', aggfunc='count')
invoices_by_category

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

–û—á—ñ–∫—É–≤–∞–Ω–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. –í–∏–∫—Ä–∏—Å—Ç–æ–≤—É—é—á–∏ –∑–º—ñ–Ω–Ω—É `invoices_by_category` –¥–∞–π—Ç–µ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –ø—Ä–æ–≥—Ä–∞–º–Ω–æ (—Ç–æ–±—Ç–æ –∑–Ω–∞—á–µ–Ω–Ω—è —Ç—Ä–µ–±–∞ –Ω–µ –ø—Ä–æ—Å—Ç–æ –∑–Ω–∞–π—Ç–∏ –æ—á–∏–º–∞, –∞ –≤–∏–≤–µ—Å—Ç–∏ –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é –∫–æ–¥—É), –≤ —è–∫–æ–º—É —Ñ—ñ–ª—ñ–∞–ª—ñ –º–∞–≥–∞–∑–∏–Ω—É (`Branch`) –Ω–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó "–ï–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏" (`Electronic accessories`)?

In [39]:
invoices_by_category['Electronic accessories'].sort_values(ascending=False).index[0]

'A'

4-6. **–¢–≤–æ—Ä—á–µ –∑–∞–≤–¥–∞–Ω–Ω—è –Ω–∞ —Ä–æ–∑–≤–∏—Ç–æ–∫ –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω–æ–≥–æ –º–∏—Å–ª–µ–Ω–Ω—è**

–ö—Ä–æ–∫ 1. –°—Ñ–æ—Ä–º—É–ª—é–π—Ç–µ –¢–†–ò –ø–∏—Ç–∞–Ω–Ω—è (–≥—ñ–ø–æ—Ç–µ–∑–∏) –¥–æ –Ω–∞—è–≤–Ω–∏—Ö –¥–∞–Ω–∏—Ö, —è–∫—ñ –¥–æ–ø–æ–º–æ–≥–ª–∏ –± –≤–∞–º –∑—Ä–æ–∑—É–º—ñ—Ç–∏, —è–∫—ñ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ —â–æ, –¥–µ —Ç–∞ –∫–æ–ª–∏ –Ω–∞–π–±—ñ–ª—å—à–µ/–Ω–∞–π–º–µ–Ω—à–µ –∫—É–ø—É—é—Ç—å, –∞–±–∏ –¥–∞—Ç–∏ –Ω–∞ –æ—Å–Ω–æ–≤—ñ —Ü–∏—Ö –≥—ñ–ø–æ—Ç–µ–∑ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –±—ñ–∑–Ω–µ—Å—É. –ó–≤—ñ—Å–Ω–æ –ø–∏—Ç–∞–Ω–Ω—è –º–∞—é—Ç—å –±—É—Ç–∏ –Ω–µ —Ç–∏–º–∏, –Ω–∞ —è–∫—ñ –º–∏ –≤–∂–µ –≤—ñ–¥–ø–æ–≤—ñ–ª–∏ –≤ –∑–∞–≤–¥–∞–Ω–Ω—è—Ö –º–æ–¥—É–ª—é.

–ö—Ä–æ–∫ 2. –ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—ñ –Ω–∞ —Å–≤–æ—ó –ø–∏—Ç–∞–Ω–Ω—è –∑ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É pandas.

–ö—Ä–æ–∫ 3. –ù–∞–ø–∏—à—ñ—Ç—å, —è–∫ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞ —Ü–µ –ø–∏—Ç–∞–Ω–Ω—è –º–æ–∂–µ –±—É—Ç–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–∞ –¥–ª—è –ø—Ä–∏–π–Ω—è—Ç—Ç—è –±—ñ–∑–Ω–µ—Å —Ä—ñ—à–µ–Ω—å.   
   
 –ü–∏—Ç–∞–Ω–Ω—è –º–æ–∂—É—Ç—å –±—É—Ç–∏ –±—É–¥—å-—è–∫–æ—ó —Å–∫–ª–∞–¥–Ω–æ—Å—Ç—ñ, –∞–ª–µ —ó—Ö –º–∞—î –±—É—Ç–∏ 3. –ö–æ–∂–Ω–µ –ø–∏—Ç–∞–Ω–Ω—è –æ—Ü—ñ–Ω—é—î—Ç—å—Å—è —è–∫ 1 –∑–∞–≤–¥–∞–Ω–Ω—è. –ë–µ–∑ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è —Ü—å–æ–≥–æ –∑–∞–≤–¥–∞–Ω–Ω—è –î–ó –Ω–µ –ø—Ä–∏–π–º–∞—î—Ç—å—Å—è. –Ø–∫—â–æ —î –ø–∏—Ç–∞–Ω–Ω—è —â–æ–¥–æ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è - –ø–∏—à—ñ—Ç—å —É —á–∞—Ç üôå

1. Customers with membership status tend to make more purchases compared to non-members.

In [79]:
membership_analysis  = pd.pivot_table(df,columns='Customer type' , index=['Branch'], values=['Quantity'], aggfunc=['sum'])
membership_analysis

                   sum
              Quantity
Customer type   Member Normal
Branch
A                  964    895
B                  924    896
C                  897    934

In Branch A and Branch B, members made slightly more purchases than non-members. 
* So the hypothesis is correct and Branch C should promote memebership benefits. For example exclusive discounts, early access to sales or loylty rewards

2. Products with higher customer ratings are purchased more frequently than those with lower ratings.

In [80]:
def category_mapping(val):
    if val >= 8:
        return 'High'
    elif val >= 6:
        return 'Medium'
    else:
        return 'Low'
df["Rating Category"] = df.Rating.apply(category_mapping).astype('category')

In [101]:
rating_analysis  = pd.pivot_table(df,index=['Branch', 'Rating Category'], values=['Quantity', 'gross income'], aggfunc=['sum'])

In [95]:
rating_analysis.columns = ['Quantity', 'Income']

In [97]:
rating_analysis['ATP'] = rating_analysis['Income'] / rating_analysis['Quantity']
rating_analysis['ATP'] = rating_analysis['ATP'].round(2)
rating_analysis

                        Quantity     Income   ATP
Branch Rating Category
A      High                  609  1589.6435  2.61
       Low                   592  1615.5670  2.73
       Medium                658  1851.9500  2.81
B      High                  568  1514.6555  2.67
       Low                   622  1792.2685  2.88
       Medium                630  1750.1080  2.78
C      High                  661  1960.4430  2.97
       Low                   577  1700.7440  2.95
       Medium                593  1603.9895  2.70

* Branch C has the highest ATP (2.97) and the highest total income among the high rating categories.
* Branch B has a higher ATP compared to Branch A, suggesting that low-rated products are more expensive per transaction in Branch B.
* Branch A has the highest ATP (2.81) among medium rating products.

Suggestions:
* Branches should promote high-rated products
* Branch C has consistently high ATP across all rating categories, indicating that customers are willing to pay more. The business should analyze why this branch performs better and consider replicating successful strategies in other branches.

3. rating_analysis  = pd.pivot_table(df,index=['Branch', 'Rating Category'], values=['Quantity', 'gross income'], aggfunc=['sum'])

In [110]:
def price_mapping(val):
    if val >= 75:
        return 'High'
    elif val >= 45:
        return 'Medium'
    else:
        return 'Low'
df["Price Category"] = df['Unit price'].apply(price_mapping).astype('category')

In [111]:
price_analysis  = pd.pivot_table(df, columns='Price Category',index=['Branch'], values=['Quantity', 'Unit price'], aggfunc=['sum'])
price_analysis

                    sum
               Quantity             Unit price
Price Category     High  Low Medium       High      Low   Medium
Branch
A                   455  721    683    7626.77  3551.72  7447.00
B                   539  702    579    8225.85  3473.12  6779.91
C                   599  663    569    9189.37  3315.59  6062.80

* Branch C shows the highest revenue from high-priced items. It should continue to promote those items
* Branch A has high sales volume but relatively lower revenue from low-priced items. It should adjust pricese for those items.
* Branch B and Branch C show significant revenue from medium-priced items. Adjusting the marketing focus or promotional strategies for medium-priced items could boost sales across branche